/**
 * @name Neon
 * @author DenVot
 * @version 0.0.1
 * @description Beautiful neon theme
 * @source https://github.com/DenVot/copilot-better-discord-theme
*/

@import url("https://cdn.jsdelivr.net/gh/denvot/neon-theme/src/code-style.css");
@import url("https://cdn.jsdelivr.net/gh/denvot/neon-theme/src/main-style.css");

:root {
    --main-color: rgb(14, 16, 22);
    --secondary-color: rgb(15, 17, 34);
    --main-gradient: linear-gradient(45deg, rgb(23, 255, 216), rgb(154, 13, 236));

    --background-tertiary: var(--background-primary);
    --background-primary: var(--main-color);
    --background-secondary: var(--secondary-color);
    --background-secondary-alt: var(--secondary-color);
    --interactive-normal: #FFF;
    --interactive-hover: rgb(170, 170, 170);
    --channeltextarea-background: var(--main-color)
}
